  input.ng-invalid.ng-touched {
    border: 1px solid red;
  }

  .login-container {
    display: flex;
  }

  .sign-up {
    width: 30%;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  @media only screen and (min-width : 768px) {
    .sign-up {
      width: 40%;
      margin-left: 20px;
      margin-right: 20px;
    }
  }

  .form-container {
    flex: 1;
    max-width: 500px;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  .form-group {
    width: 70%;
    margin-left: 30px;
  }

  .invalid-feedback {
    font-size: .875em;
    color: #dc3545;
  }

  .form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

label {
    display: inline-block;
    padding: 10px 0px;
}

.login-btn {
  margin-top: 20px;
}

