<jw-modal id="custom-modal-1">
  <div class="cart__header">
    <span class="cart__header-label">My Cart </span>
    <span *ngIf="Object.keys(cartItems).length > 0">({{totalCartItems}} item)</span>
    <span class="btn btn--close" (click)="closeModal('custom-modal-1');"><i class="fa fa-times"></i></span>
  </div>
  <ng-container *ngIf="Object.keys(cartItems).length === 0">
    <div class="cart__empty">
      <div class="cart__no-item">No Items in your cart</div>
      <div>Your favourite items are just a click away</div>
    </div>
    <button class="btn btn--shopping ">Start Shopping</button>
  </ng-container>

  <ng-container *ngIf="Object.keys(cartItems).length > 0">
    <div class="cart__items" *ngFor='let key of Object.keys(cartItems)'>
      <img class="cart__item-img" src="assets/{{ cartItems[key]?.imageUrl }} " alt="cart image">
      <div class="cart__content">
        <div class="cart__item-name">{{cartItems[key].name}}</div>
        <div>
          <button (click)="subtract(key)" class="cart__icon cart__icon--compute"> <i class="fa fa-minus"></i></button>
          <span class="cart__item-count">{{cartItems[key].count}}</span>
          <button (click)="add(key)" class="cart__icon cart__icon--compute"> <i class="fa fa-plus"></i></button>
          <span class="cart__icon"> <i class="fa fa-times"></i></span>
          <span class="cart__icon">{{cartItems[key].price}}</span>
          <span class="btn btn--close">Rs {{cartItems[key].count * cartItems[key].price}}</span>
        </div>
      </div>
    </div>

    <div class="cart__label">
      <img class="cart__img" src="assets/static/images/lowest-price.png">
      <span>You won't find it cheaper anywhere</span>
    </div>

    <div class="cart__checkout">
      <div>Promo code can be applied on payment page</div>
      <button class="btn btn--checkout">
        <span>Proceed to Checkout</span>
        <span class="cart__total">Rs {{totalCartPrice}}</span>
      </button>
    </div>
  </ng-container>
</jw-modal>