.close-btn {
  float: left;
  padding-right: 10px;
  width: fit-content;
  align-self: flex-end;
}

.no-item-container {
  margin: auto;
  padding-bottom: 40px;
}

.empty-cart {
  text-align: center;
  font-weight: bold;
}

.btn-shopping {
  background-color: #bf2957;
  color: white;
}

.myCart {
  margin-bottom: 10px;
}

.close-btn-1 {
  float: right;
  padding-right: 10px;
}

.cart-items-container {
  display: flex;
  margin-bottom: 10px;
}

.cart-item-img {
  width: 50px;
  height: 50px;
}

.cart-info-container {
  margin-left: 10px;
  flex: 1;
}

.cart-item-name {
  font-weight: 600;
  margin-bottom: 5px;
}

.plus-minus-icon {
  background-color: #bf2957;
  border: none;
}

.cart-icon {
  margin-right: 5px;
}

.cart-count {
  margin-right: 5px;
  font-size: 14px;
  font-weight: 600;
}

.checkout-container {
  margin-top: auto;
  width: 100%;
}

.checkout-btn {
  width: 100%;
  text-align: left;
  background-color: #bf2957;
  color: white;
}

.cart-total {
    float: right;
    margin-right: 10px;
}
