<header class="header">
  <nav>
    <ul class="header__sign-in-menu">
      <li class="header__hamburger-menu"><i class="fa fa-bars"></i></li>
      <li *ngIf="signedInUser" class="header__sign-in-dropdown">
        <button class="header__user">{{signedInUser}}
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="header__sign-out">
          <a (click)="onSignOut()">Sign Out</a>
        </div>
      </li>
    </ul>
    <div class="header__menu">
      <ul class="header__links">
        <li class="header__closeMenu"><i class="fa fa-times"></i></li>
        <li><a class="header__link" routerLinkActive="header__link--active" *ngIf="!signedInUser" routerLink="/login"
            (click)="redirect()">SignIn</a></li>
        <li><a class="header__link" routerLinkActive="header__link--active" *ngIf="!signedInUser" routerLink="/register"
            (click)="redirect()">Register</a></li>
        <li><a class="header__link header__homelink--mobile" routerLinkActive="header__link--active" routerLink="/home"
            (click)="redirect()">Home</a></li>
        <li><a class="header__link header__productlink--mobile" routerLinkActive="header__link--active"
            routerLink="/product" (click)="redirect()">Product</a></li>
        </ul>
      </div>
    <div class="header__content">
      <figure class="header__img">
        <img class="header__logo" src="assets/static/images/logo.png" alt="logo image">
      </figure>
      <button (click)="openModal('custom-modal-1')" class="header__cart">
        <img class="header__cart-img" src="assets/static/images/cart.svg" alt="cart image">
        <span>{{totalCartItems}}</span>
        <span class="header_cartitems">items</span>
      </button>
    </div>
  </nav>
</header>

<app-cart></app-cart>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <p class="footer">Copyright © 2011-2018 Sabka Bazaar Grocery Supplies Pvt Ltd</p>
</footer>