<header class="header">
  <a *ngIf="!signedInUser" routerLink="/login">SignIn</a>
  <a *ngIf="!signedInUser" class="register" routerLink="/register">Register</a>
  <div *ngIf="signedInUser" class="dropdown">
    <button class="dropbtn">{{signedInUser}}
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a (click)="onSignOut()">Sign Out</a>
    </div>
  </div>
</header>
<nav class="nav">
  <div class="img-container">
    <img class="logo-img" src="assets/static/images/logo.png">
  </div>
  <div class="header-links">
    <a mat-button class="link" routerLink="/home">Home</a>
    <a mat-button class="link" routerLink="/product">Product</a>
  </div>
  <div (click)="openModal('custom-modal-1')" class="cart">
    <img class="cart-img" src="assets/static/images/cart.svg">
    <span>0</span>
    <span>items</span>
  </div>
</nav>

<app-cart></app-cart>

<router-outlet></router-outlet>