<app-carousel></app-carousel>
<div class="home">
    <ng-container *ngFor="let category of categories">
        <div class="home__category">
            <figure class="home__banner">
                <img class="home__img" src="assets/{{ category?.imageUrl }}" alt="home image">
            </figure>
            <div class="home__content">
                <span class="home__categoryName">{{category?.name}}</span>
                <span class="home__categoryDescription">{{category?.description}}</span>
                <button class="btn btn--explore" (click)="redirect(category?.id)">Explore {{category?.name}}</button>
            </div>
        </div>
    </ng-container>
</div>