<app-carousel></app-carousel>
<div class="home-container">
    <ng-container *ngFor="let category of categories">
        <div class="category">
            <div class="image-wrapper">
                <img class="banner" src="assets/{{ category?.imageUrl }}">
            </div>
            <div class="name-container">
                <span class="name category-name">{{category?.name}}</span>
                <span class="name">{{category?.description}}</span>
                <button (click)="redirect(category?.id)"class="explore-btn">Explore {{category?.name}}</button>
            </div>
        </div>
    </ng-container>
</div>