.home > .home__category:nth-child(even) {
    flex-direction: row-reverse;
}

.home__category {
    display: flex;
    margin: auto;
    max-width: 62.5rem;
    padding-bottom: 0.625rem;
    justify-content: space-between;
    margin-bottom: 1.25rem;
    padding-bottom: 0.938rem;
    box-shadow: 0rem 0.56rem 0.75rem -0.56rem var(--shadow);
}

.home__banner {
    width: 40%;
    max-width: 18.75rem;
    align-self: center;
}

.home__img {
    width: 100%;
}

.home__content {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-left: 1.25rem;
    width: 60%;
    align-items: center;
    text-align: center;
}

.home__categoryDescription {
    padding-bottom: 0.625rem;
}

.home__categoryname {
    padding-bottom: 0.625rem;
    font-weight: bold;
}

.btn--explore {
    width: fit-content;
    background-color: var(--primary);
    border: none;
    color: var(--white);
    padding: 0.31rem 0.438rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}