<div class="register">
    <div class="register__signup">
        <h2 class="register__heading">SignUp</h2>
        <div>We do not share ypu personal details with anyone</div>
    </div>
    <div class="register__form">
        <form name="form" [formGroup]="form" (ngSubmit)="form.valid && onSubmit()">
            <div class="register__invalid" *ngIf="errorMsg">{{errorMsg}}</div>
            <div>
                <label for="firstName">First Name
                    <span class="sr-only">is a required field</span>
                </label>
                <input type="text" class="register__formControl" name="firstName" formControlName="firstName" placeholder="First Name" required/>
                <div *ngIf="form.get('firstName').touched && form.get('firstName').invalid" class="register__invalid">
                    <div role="alert">First Name is required</div>
                </div>
            </div>
            <div>
                <label for="lastName">Last Name
                    <span class="sr-only">is a required field</span>
                </label>
                <input type="text" class="register__formControl" name="lastName" formControlName="lastName" placeholder="Last Name" required/>
                <div *ngIf="form.get('lastName').touched && form.get('lastName').invalid" class="register__invalid">
                    <div role="alert">Last Name is required</div>
                </div>
            </div>
            <div>
                <label for="email">Email
                    <span class="sr-only">is a required field</span>
                </label>
                <input type="text" class="register__formControl" name="email" formControlName="email" placeholder="Email" required/>
                <div *ngIf="form.get('email').touched && form.get('email').invalid" class="register__invalid">
                    <div role="alert" *ngIf="form.get('email').errors.required">Email Name is required</div>
                    <div role="alert" *ngIf="form.get('email').errors.email">Email must be a valid email Address</div>
                </div>
            </div>
            <div>
                <label for="password">Password
                    <span class="sr-only">is a required field</span>
                </label>
                <input type="password" class="register__formControl" name="password" formControlName="password" placeholder="password" required
                    [ngClass]="{'is-invalid':form.get('password').touched && form.get('password').invalid}" />
                <div *ngIf="form.get('password').touched && form.get('password').invalid" class="register__invalid">
                    <div role="alert" *ngIf="form.get('password').errors.required">Password is required</div>
                    <div role="alert" *ngIf="form.get('password').errors.minlength">Password must be atleast 6
                        character</div>
                </div>

            </div>
            <div>
                <button class="btn btn-register" [disabled]="!form.valid">SignUp</button>
            </div>
        </form>
    </div>
</div>